<div class="login-component">
    <h1 mat-dialog-title>Iniciar sesión</h1>
    <form [formGroup]="formularioLogin">
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <mat-label>Email:</mat-label>
                <input formControlName="email" matInput>
                <mat-error *ngIf="formularioLogin.get('email')?.hasError('email')">El formato no es correcto</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password:</mat-label>
                <input formControlName="password" matInput type="password">
            </mat-form-field>
            <mat-checkbox>Recuérdame en este equipo</mat-checkbox>
            
        </div>
        <div align="end">
            <a mat-button color="primary" routerLink="/registro" (click)="cerrarLoginDialog()">Nuevo usuario</a>
            |
            <a mat-button color="primary" href="" target="_blank" disabled>¿Olvidó su clave?</a>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-stroked-button class="btn btn-secondary" (click)="cerrarLoginDialog()">Cancelar</button>
            <button mat-stroked-button color="primary" (click)="iniciarSesion()">Entrar</button>
        </div>
    </form>
    
</div>